header.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: black;
    color: white;
}

.header-content{
    width: 100%;
    max-width: 75rem;
    height: 4rem;
    padding: 0.75rem 1rem;
    margin: auto;

    justify-content: space-between;
}
.header-content_logo{
    color: white;
    font-size: 2rem;
    font-weight: 900;

    height: 1rem;
    margin-right: 40px;
    line-height: 40px;
}
.header-content_nav{
    align-items: center;
    padding: 0 2.5rem 0 0;
    flex-grow: 1;
}
.header-content_nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header-content_nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 900;
}
.header-content_nav ul li.active{
    color: #8E6948;
}
.header-content_input{
    justify-content: center;
    align-items: center;
}
.header-content_input ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header-content_input ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 900;
}
.header-content_input .icon_menu input{
    margin-right: 1rem;
    border: none;
    padding: 0;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
}
.header-content_input .icon_menu{
    display: none;
}

/*웹 크기가 줄어들때 생기는 이벤트*/
@media screen and (max-width: 1192px){ 
    .header-content_input .icon_text{
        display: none;
    }
    .header-content_input .icon_menu{
        display: block;
    }
}
@media screen and (max-width: 948px){ 
    .header-content_input .chat, .header-content_nav{
        display: none;
    }
    .header-content_input .menu{
        display: block;
    }
}