.info{
    width: 100%;
    height: 19.6875rem;
    background-color: hsl(293, 57%, 30%);
}
.info_text{
    max-width: 48rem;
    margin: auto;
    padding: 3rem 1rem 0;
}
.info_text h1{
    margin: 0;
    font-size: 2rem;
    line-height: 3.2rem;
    color: white;
}
.info_text p{
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: white;
}

@media screen and (max-width: 768px){
    .info{
        height: 18.375rem;
    }
    .info_text{
        padding: 1.5rem 1rem 0;
    }
    .info_text h1{
        line-height: 2rem;
        font-size: 1.5rem;
    }
    .info_text p{
        line-height: 0.8rem;
        font-size: 0.6rem;
    }
}